#main{
  text-align: center;
  background-image: url('./images/copy.jpg');
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}


.app {
text-align: center;
margin-left: 32%;
width: 35%;
padding-bottom: 15px;
padding-top: 3px;
border-radius: 25px;

}
h1{
  font-weight: 1;
  margin-top: 50px;
  color: azure;
  font-family: monospace;
  font-size: 50px;
}
input {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  padding-left: 40px;
  background-image: url(./images/search.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 15px;
  font-size: 20px;
  text-transform: capitalize;
}
button{
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 100px;
  outline: none;
  background-color:seashell ;
}
input::placeholder{
  font-size: 20px;
  transition: color 3s ease;
}
input:focus::placeholder{
  color: transparent;
}
.child {
  width: 80%;
  margin-top: 20px;
  margin-left: 5%;
  padding: 30px;
  border-radius: 25px;
  min-height:350px ;
  display: flex;
}
.child1{
min-height: 300px;
width: 40%;
margin-left: 5%;
margin-right: 1%;
padding: 30px;
text-align: right;

}
.child2{
  margin-bottom: 20px;
  margin-right: 5%;
  margin-left: 1%;
  width: 40%;
  padding: 30px;
}

#location{
  font-size: 35px;
}
#region{
  font-size: 25px;
}
#country{
  font-size: 25px;
  text-transform: uppercase;
}
#time{
  font-size: 20px;
}
#celcius{
  font-size: 40px;
}
#faren{
  font-size: 40px;
}
#condition{
  font-size: 40px;
}